.Characters{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  border: dotted 8px;

}

.Character{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: -1px 12px 8px 0 rgba(0,0,0,.15);
  padding-bottom: .75rem;
}

.Character img{
  width: 150px;
  height: 150px;
}

.Character p{
  margin: 4px;
}

.Character--name{
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2px;
}

.Character--type{
  text-transform: capitalize;
}

.Characters--favorite{
  border-radius: 50%;
  border: 1px solid #fad586;
  display: inline-block;
  margin-left: 16px;
  background-color: #ffffff;
}

.Characters--favorite img{
  width: 66px;
  height: 66px;
}

.Characters__favorites{
  display: flex;
  overflow-x: auto;
  align-items: center;
  justify-content: center ;
  border: dotted 4px;
  padding: 12px;
}

.Character__title{
  letter-spacing: 4px;
  font-size: 1rem;
}






.search {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 30px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.search:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  /* left: -5000px;
  height: 100%; */
  width: 15000px;
  z-index: -1;
  background: inherit;
}
.search:first-child {
  padding: 40px 30px;
}
.search:nth-child(2), .row:nth-child(8), .row:nth-child(10) {
  background: #134A46;
}
.search:nth-child(3), .row:nth-child(7) {
  background: #377D6A;
}
.search:nth-child(4), .row:nth-child(6) {
  background: #7AB893;
}
.search:nth-child(5) {
  background: #B2E3AF;
}
.search span {
  position: relative;
  display: inline-block;
  margin: 30px 10px;
}
.searchTerm {
  display: inline-block;
  width: 315px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 65px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.searchTerm::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.searchTerm + label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 15px;
  background: #7AB893;
  transition: all 0.4s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: left bottom;
  color:white;
  font-weight: 600;
  /* z-index: 99; */
}
.searchTerm + label:before, .searchTerm + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background: #184d47;
  transform-origin: left bottom;
  transition: all 0.4s ease-in-out;
  pointer-events: none;
  z-index: -1;
}
.searchTerm + label:before {
  background: rgba(3, 36, 41, 0.2);
  z-index: -2;
  right: 20%;
}

span:nth-child(2) .searchTerm {
  text-indent: 85px;
}

span:nth-child(2) .searchTerm:focus,
span:nth-child(2) .searchTerm:active {
  text-indent: 0;
}

.searchTerm:focus,
.searchTerm:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.searchTerm:focus::-webkit-input-placeholder,
.searchTerm:active::-webkit-input-placeholder {
  color: #aaa;
}
.searchTerm:focus + label,
.searchTerm:active + label {
  transform: rotate(-66deg);
  border-radius: 3px;
}
.searchTerm:focus + label:before,
.searchTerm:active + label:before {
  transform: rotate(10deg);
}